img{
    width: 30%;
    height: 350px;
    float:left;
    margin:1.666666666666666666666666666666666666667%;
}
h1{
    color: rgb(243, 105, 105);
    margin-left: 1.66%;
    font-size: 50px;
    font-weight:800;
    font-style: oblique;
    
}